.CharacterContainer {
  display: flex;
  justify-content: center;
}

.Character {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
  color: white;
  width: 300px;
  img {
    width: 200px; 
    height: 200px;
  }
}
